<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.1.0.13">  
    <name>UWAFT Display Booth</name>
    <author email="srwang@uwaterloo.ca" href="http://uwaft.com/" rim:copyright="Copyright 2012 UWAFT">University of Waterloo Alternative Fuels Team</author>
    <description>UWAFT UWAFT EVERYDAY!</description>
	
    <icon src="appicon.png"/>
    <content src="index.html"/>
	
	<access subdomains="true" uri="*"/>
	<feature id="blackberry.app.event" required="true" version="1.0.0.0"/>
	
	<rim:orientation mode="landscape" />
	
	<rim:loadingScreen  backgroundColor="#D1D1D1" backgroundImage="splash.png" onFirstLaunch="true" onLocalPageLoad="true" onRemotePageLaunch="true" >
		<rim:transitionEffect type="fadeIn" direction="slideOver" />
	</rim:loadingScreen>
	
    <rim:permissions>  
        <rim:permit></rim:permit>
    </rim:permissions> 

	<license>
		Media Files and everything else: 
		All rights reserved. 
	
		FancyBox:
		Licensed under the Apache License, Version 2.0 (the "License");
		you may not use this file except in compliance with the License.
		You may obtain a copy of the License at
			http://www.apache.org/licenses/LICENSE-2.0
		Unless required by applicable law or agreed to in writing, software
		distributed under the License is distributed on an "AS IS" BASIS,
		WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
		See the License for the specific language governing permissions and limitations under the License.
	</license>
</widget>