			body{
				background:black;
				font-family:Arial;
			}
			span.reference{
				position:fixed;
				left:10px;
				bottom:10px;
				font-size:12px;
			}
			span.reference a{
				color:#666;
				text-shadow:1px 1px 1px #fff;
				text-transform:uppercase;
				text-decoration:none;
				margin-right:30px;
			}
			span.reference a:hover{
				color:#333;
			}
			.content{
				width:1024px;
				margin:0 auto;
			}
			
			.msg_slideshow{
				margin:0 auto;
			}
			footer{
				height: 60px;
				position: relative;
			}
			a.back{
				background:transparent url(icons/back.png) no-repeat top left;
				background-size: 90px 30px;
				height: 32px;
				background-position:0px 0px;
				display:block;
				clear:both;
				text-indent:-99000px;
				margin-top: 8px;
			}